<md-sidenav md-component-id="sidenav" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
  md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <img src="img/logo.png" alt>
    <h1 class="md-toolbar-tools">Pizza Shop</h1>
  </md-toolbar>

  <md-content layout="column" layout-padding>
    <md-button class="md-primary" ui-sref="pizzalist" ng-click="$ctrl.closeSideNav()">
      show pizzas
    </md-button>
    <md-button class="md-primary" ui-sref="addpizza" ng-click="$ctrl.closeSideNav()">
      Add pizza
    </md-button>

  </md-content>

</md-sidenav>